* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: auto;
}
.navbar {
  border: 1px solid orange;
  padding: 16px 0;
}
.navbar .brand {
  width: 80px;
}
.navbar .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar .d-flex img {
  width: 80px;
}
.navbar .nav-navbar {
  display: flex;
  gap: 16px;
  list-style-type: none;
}
.navbar .nav-navbar .nav-item .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(53, 53, 53);
  padding: 10px 20px;
  display: block;
  border-radius: 16px;
  transition: 0.3s ease-in-out all;
}
.navbar .nav-navbar .nav-item .nav-link:hover {
  background-color: #c60e0e;

  color: white;
}
